.title{
    text-align: center;
    font-size: large;
    color:rgb(216, 216, 128);
    background-color: rgba(175, 57, 14, 0.712);
    padding: 1em;
    font-style: bold;
}
.container{
   background-image: url('https://images.unsplash.com/photo-1505166065723-bae088a12fc4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1347&q=80');
    z-index: 2;
    opacity: 0.85;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
}

.izquierda{
    width: 70%;
    padding: 10px;
}
.derecha{
    width: 30%;
    padding: 10px;
}