<!--structure of TPV-->
<h1>Caja Registradora</h1>
<div class="container">
  <div class="izquierda">
    <!--two products-->
    <app-lista-productos titulo="Comida" [productos] = "arrComida" (productoSeleccionado) = "onProductoSeleccionado($event)"></app-lista-productos>
    <app-lista-productos titulo="Bebida" [productos] = "arrBebida" (productoSeleccionado) = "onProductoSeleccionado($event)"></app-lista-productos>
  </div>
  <div class="derecha">
    <app-comanda></app-comanda>
  </div>
</div>